.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center {
  text-align: center;
}

.header {
  text-align: center;
  background-image: url( '../images/jungle_cover.png' );
  background-size: contain;
  background-repeat: no-repeat;
  height: 600px;
  background-position: center;
}

button {
  margin: 0.5rem 1rem 0.5rem 0.5rem;
  background-color: #FDF482;
  color: #154015;
}

.safebutton {
  background-color: #154015;
  color: #FDF482;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.warningButton {
  background-color: #FDF482;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.dangerousbutton {
  background-color: #f44336;
  color: #FDF482;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.signOut {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  max-width: 15%;
}

.transactions {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-color: #154015;
  border-width: 2px;
  background-color: #FDF482;
  color: #154015;
}

.entries {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 50px;
}

.agentsTable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.entry-email {
  padding-left: 1rem;
  padding-right: 1rem;
}

.entry-player {
  padding-left: 1rem;
  padding-right: 1rem;
}

.ids-button {
  white-space: normal;
  width: 100px;
}

.entry-id {
  /*background-color: #7a150d;*/
  padding-left: 1rem;
  padding-right: 1rem;
}

.entry-profit {
  padding-left: 1rem;
  padding-right: 1rem;
}

.entry-tips {
  padding-left: 1rem;
  padding-right: 1rem;
}

.comment_textarea {
  background: transparent;
  border: none;
}

.creditLimit_textarea {
  background: transparent;
  border: none;
}

.tipsPercentage_textarea {
  background: transparent;
  border: none;
}

.input1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.input2 {
  margin-right: 2rem;
  color: #7a150d;
}

.input3 {
  color: #7a150d;
}

.upload {
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.black {
  background-color: #154015;
}

:root {
  --amplify-primary-color: #FDF482;
  background-color: #154015;
  /*color: #620d08;*/
  color: #FDF482;
  margin-top: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#close-CSS {
  background-image: url( '../images/logout_image.png' );
  background-size: 75px 75px;
  height: 75px;  
  width: 75px;
  background-color: #154015;
  border-color: #FDF482;
}